body {
    margin: 0;
}

.nav-bar {
    padding: 0 2% 0 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav-header {
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-container {
    justify-self: end;
}

.dropdown-toggle:after {
    display: none !important;
}

.btn {
    padding: .5rem !important;
}

svg {
    width: 2rem;
    height: 2rem;
}