input {
    text-align: center;
}

.login {
    display: flex;
}
form {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 25%;
    margin: 0 40% 0 40%;
}

.form-row {
    margin-top: 10px;
}

.button-row {
    margin-top: 5px;
    display: grid;
}

.submit {
    padding: .5rem;
    justify-self: end;
    width: 100px;
    height: 40px;
}

.btn:hover {
    background-color: rgb(155, 208, 255);
}